.header {
	height: 100px;
	background-color: green;
}
.vidurys {
	height: 400px;
}
.aukstesnis {
	background-color: green;
	height: 300px;
}
.zemesnis {
	background-color: green;
	height: 100px;
}
.desinys {
	background-color: green;
}
.kairys {

}
.foter {
	background-color: green;
	height: 100px;
}